<!DOCTYPE html>
<html>
    <body>
        <h1><%= title %></h1>
        <form action="/save" method="post">
            <input type="text" id="rno" name="rno">
            <input type="text" id="sname" name="sname">
            <button type="submit">Submit</button>
        </form>
        
    </body>
</html>