<!DOCTYPE html>
<html>
    <body>
        <h1><%= title %></h1><br><br>
        <form action="/save_spectiality" method="post">
            <input type="text" name="spec" > 
            <button>Submit</button>
        </form>
    </body>
</html>