<!DOCTYPE html>
<html>
    <body>
        <h1><%= title %></h1>
        <form action="/save" method="post">
            <input type="text" id="f_name" name="f_name">
            <input type="text" id="l_name" name="l_name">
            <input type="text" id="email" name="email">
            <input type="text" id="pass" name="pass">
            <button>Submit</button>
        </form>


            <a href="/add"><button>login</button></a>

            <a href="/speciality_home"><button>speciality</button></a>
    </body>
</html>