<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" >
        <title>Admin</title>
        <link rel="stylesheet" href="../style.css">
    </head>
    <body>
        <div className="main_admin">
            <nav className="navbar">
                <h1>Dashboard</h1>
            </nav>
        </div>
    <!-- </body>
</html> -->